<% include ../admin/header.ejs %>
<body>

<div class="container">
    <% include ../admin/body.ejs %>
    <h1>Admin Page</h1>
    <p>This is some text.</p>
</div>

<% include ../admin/footer.ejs %>
</body>

</html>