<% include header.ejs %>
<body>

<div class="container">
    <% include body.ejs %>
    <div class="row content">
        <% include navbarleft.ejs %>
        <div class="col-sm-9">

            <h1>Admin Page</h1>
            <p>This is some text.</p>
        </div>
    </div>
</div>

<% include footer.ejs %>
</body>

</html>