<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <h1>Αποσύνδεση διαμερίσματος από την κεντρική θέρμανση</h1>
   <p>Για τα συστήματα κεντρικής θέρμανσης που ακολουθούν τον Τεχνικό Κανονισμό Κατανομής Δαπανών Κεντρικής Θέρμανσης υπάρχει πρόβλεψη για την περίπτωση που κάποιο
       διαμέρισμα θελήσει να αποσυνδεθεί από την κεντρική θέρμανση και να μην συμμετέχει πλέον στις δαπάνες (καυσίμου και έκτακτες).</p>
    <p>Προϋποθέσεις για την αποσύνδεση είναι:</p>
    <ul>
        <li>Να παρέχεται από τον κανονισμό των σχέσεων των συνιδιοκτητών της οικοδομής η δυνατότητα να αποσυνδεθούν μόνιμα από το δίκτυο κεντρικής
        θέρμανσης του κτιρίου,είτε</li>
        <li>Ανεξάρτητα εάν υπάρχει αντίθετη πρόβλεψη στον κανονισμό της πολυκατοικίας, εφόσον λόγος για την αποσύνδεση είναι η εγκατάσταση ατομικής
        θέρμανσης με αέριο καύσιμο (φυσικό αέριο) και συμφωνήσει στην αποσύνδεση το 50% και μία ψήφος των συνιδιοκτητών.</li>
    </ul>

    <p>Σημειώνεται ότι η αποσύνδεση πρέπει να είναι μόνιμη με μόνωση των σωλήνων της κεντρικής θέρμανσης που διέρχονται από το διαμέρισμα και
    το κόστος της αποσύνδεσης βαρύνει το αποσυνδεόμενο διαμέρισμα.</p>
    <p>Μετά την αποσύνδεση οι συντελεστές των υπολοίπων ιδιοκτησιών θα αναμορφώνονται σε:</p>
    <p>εi´ = εi x [ 1 / ( 1 - ∑εα ) ]        i ≠ α</p>
    <p>όπου α οι ιδιοκτησίες που θα αποσυνδεθούν μόνιμα και θερμαίνονται με ανεξάρτητη εγκατάσταση θέρμανσης.
    Τα ποσοστά κατανομής π των έκτακτων δαπανών και των δαπανών λειτουργίας στις ιδιοκτησίες i που θα παραμείνουν σε σύνδεση με το δίκτυο
    της κεντρικής θέρμανσης υπολογίζονται πάντοτε με τις προηγούμενες σχέσεις αλλά και τους ανομορφωμένους συντελεστές εi´ στην θέση των εi.</p>

</div>

<% include templates/footer.ejs %>
</body>

</html>