<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <h1>About Page</h1>
    <p>This is some text.</p>
    <a href="/login" class="btn btn-primary" role="button">Login</a>
</div>

<% include templates/footer.ejs %>
</body>

</html>