<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <h1>About Page</h1>
    <p>Ιδιοκτησίες που έχουν αποσυνδεθεί μόνιμα από το δίκτυο της κεντρικής θέρμανσης του κτιρίου
        ( εφόσον προβλέπεται αυτή η δυνατότητα από τον κανονισμό του κτιρίου ) και θερμαίνονται με ανεξάρτητη μόνιμη εγκατάσταση ,
        δεν επιβαρύνονται ούτε με δαπάνες λειτουργίας ούτε με έκτακτες δαπάνες κεντρικής θέρμανσης . Οι συντελεστές εi των υπολοίπων
        ιδιοκτησιών αναμορφώνονται σε : 13/18 ΠΡΟΤΑΣΗ ΝΟΜΟΥ ε ́ i = ε i *{1/(1- Σε a )},i / a ( 1 5 ) όπου a οι ιδιοκτησίες που έχουν αποσυνδεθεί
        μόνιμα και θερμαίνονται με ανεξάρτητη εγκατάσταση θέρμανσης . Τα ποσοστά κατανομής π των δαπανών λειτουργίας και των έκτακτων δαπανών
        στις ιδιοκτησίες i που παραμένουν σε σύνδεση με το δίκτυο της κεντρικής θέρμανσης υπολογίζονται πάντοτε με τις σχέσεις των παραγράφω ν 4.1
        και 4.2, αλλά με τους αναμορφωμένους συντελεστές εi στη θέση των εi . Οι ιδιοκτήτες των ιδιοκτησιών που αποσυνδέονται με τον παραπάνω
        τρόπο από το δίκτυο της κεντρικής θέρμανσης είναι υποχρεωμένοι να μονώσουν τους σωλήνες της κεντρικής θέρμανσης που διέρχονται από την
        ιδιοκτησία τους . Οι δαπάνες μόνωσης των παραπάνω σωλήνων καθώς και οι έκτακτες δαπάνες της ιδιοκτησίας a βαρύνουν τον ιδιοκτήτη της .
        Οι υπόλοιπες έκτακτες δαπάνες που ενδέχεται να προκύψουν επειδή αποσυνδέθηκε μόνιμα μία ή περισσότερες ιδιοκτησίες κατανέμονται σε όλες τις
        ιδιοκτησίες ανάλογα με τα ποσοστά πi που ίσχυαν πριν από την αποσύνδεση </p>

    <a href="/login" class="btn btn-primary" role="button">Login</a>
</div>

<% include templates/footer.ejs %>
</body>

</html>