<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4><%= name %> page</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="./profile">Edit profile</a></li>
                <li><a href="./block">1.Πολυκατοικία</a></li>
                <li><a href="#section2">2.Διαμερίσματα</a></li>
                <li><a href="#section3">3.Έξοδα Μήνα</a></li>
                <li><a href="#section3">4.Εκτύπωση</a></li>
            </ul><br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
            </div>
        </div>

        <div class="col-sm-9">
            <h4>Στοιχεία Πολυκατοικίας</h4>
            <form method="post" action="/users/updateProfile">
                <div class="form-group">
                    <label for="name">Διεύθυνση:</label>
                    <input type="text" class="form-control" name="address" value="">
                </div>
                <div class="form-group">
                    <label for="name">Περιοχή:</label>
                    <input type="text" class="form-control" name="location" value="">
                </div>
                <div class="form-group">
                    <label for="name">Τ.Κ:</label>
                    <input type="text" class="form-control" name="postal" value="">
                </div>
                <div class="form-group">
                    <label for="name">Όνομα Διαχειριστή:</label>
                    <input type="text" class="form-control" name="name" value="">
                </div>
                <div class="form-group">
                    <label for="name">Τηλέφωνο:</label>
                    <input type="text" class="form-control" name="phone" value="">
                </div>
                <div class="form-group">
                    <label for="name">Κινητό:</label>
                    <input type="text" class="form-control" name="mobile" value="">
                </div>

                <button type="submit" class="btn btn-primary">Καταχώρηση</button>
            </form>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>
</body>

</html>