<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h4>Στοιχεία Διαμερισμάτων</h4>
            <form method="post" action="/users/block">
                <div class="form-group">
                    <label for="name">Όνομα:</label>
                    <input type="text" class="form-control" name="firstname" value="">
                </div>
                <div class="form-group">
                    <label for="name">Επίθετο:</label>
                    <input type="text" class="form-control" name="lastname" value="">
                </div>
                <div class="form-group">
                    <label for="name">Τηλέφωνο:</label>
                    <input type="text" class="form-control" name="phone" value="">
                </div>
                <div class="form-group">
                    <label for="name">Κινητό:</label>
                    <input type="text" class="form-control" name="mobile" value="">
                </div>
                <div class="form-group">
                    <label for="name">Αριθμός Διαμερίσματος:</label>
                    <input type="text" class="form-control" name="flatNum" value="">
                </div>
                <div class="form-group">
                    <label for="name">Αναλογία Δαπανών Κοινοχρήστων:</label>
                    <input type="text" class="form-control" name="koinratio" value="">
                </div>
                <div class="form-group">
                    <label for="name">Αναλογία Δαπανών Ανελκυστήρα:</label>
                    <input type="text" class="form-control" name="liftratio" value="">
                </div>
                <div class="form-group">
                    <label for="name">Χιλιοστά Διαμερίσματος:</label>
                    <input type="text" class="form-control" name="flatxil" value="">
                </div>
                <div class="form-group">
                    <label for="name">Ιδιοκτήτης:</label>
                    <label class="radio-inline"><input type="radio" name="Owner">Ναι</label>
                    <label class="radio-inline"><input type="radio" name="Owner">Όχι</label>
                </div>

                <button type="submit" class="btn btn-primary">Καταχώρηση</button>
            </form>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>
</body>

</html>