<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <h2>Καλώς Ήρθατε στην ιστοσελίδα μας</h2>
    <p>Το online Κοινόχρηστα είναι μια διαδυκτιακή εφαρμογή έκδοσης κοινοχρήστων. Τώρα μπορεί ο καθένας γρήγορα και απλά
        όπου και αν βρίσκεται και οποιοδήποτε ώρα να εκδόσει τα κοινόχρηστα της πολυκατοικίας του.</p>
    <h2 class="text-center">Ποια είναι τα πλεονεκτήματα της εφαρμογής</h2>
    <div class="row">
        <div class="col-sm-6"><h3><span class="glyphicon glyphicon-ok text-success"></span> Ευκολία και ταχύτητα</h3>
        <p>Μέσα σε λίγα λεπτά μπορείται να καταχωρήσετε τα έξοδα του μήνα και να τυπώσετε ή να στείλετε με email
            την συγκεντρωτική κατάσταση μισθοδοσίας και τις αποδείξεις μισθοδοσίας.</p></div>
        <div class="col-sm-6"><h3><span class="glyphicon glyphicon-ok text-success"></span> Οικονομία</h3>
        <p>Με κόστος μόνο 1 ευρώ το μήνα για όλη την πολυκατοικία ανεξαρτήτως του αριθμού των διαμερισμάτων και
            χρησιμοποιώντας την δυνατότητα αποστολής των αποδειξεων μισθοδοσίας με email κάνετε οικονομία στα
            πάγια έξοδα της πολυκατοικίας. Μόλις 12 Ευρώ κόστος το χρόνο!!!!</p></div>
    </div>
    <div class="row">
        <div class="col-sm-6"><h3><span class="glyphicon glyphicon-ok text-success"></span> Αξιοπιστία</h3>
        <p>Ως Μηχανολόγοι Μηχανικοί με 15 χρόνια εμπειρία στο χώρο της πολυκατοικίας και ενήμεροι της νομοθεσίας
            είστε σίγουροι για την αξιοπιστία του προγράμματος.Είμαστε στη διάθεση σας για όποια απορία η πρόβλημα προκύψει.</p></div>
        <div class="col-sm-6"><h3><span class="glyphicon glyphicon-ok text-success"></span> Iστορικό - Πληροφόρηση</h3>
        <p>Το πρόγραμμα κρατάει ιστορικό όλων των εξόδων μήνα μήνα της πολυκατοικίας καθώς και κάθε διαμερίσματος ξεχωριστά.
            Έχουμε πλήρη έλεγχο του υπολοίπου κάθε διαμερίσματος το οποίο ανανεώνεται αυτόματα με κάθε νέα έκδοση κοινοχρήστων καθώς
            και μετά την ενημέρωση στην αντίστοιχη φόρμα οτι πληρώθηκε.
        </p></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="totalBlock.png" target="_blank">
                    <img src="totalBlock.png" alt="Lights" style="width:100%;height: 200px">
                    <div class="caption">
                        <p>Συγκεντρωτική Κατάσταση.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="totalFlat.png" target="_blank">
                    <img src="totalFlat.png" alt="Nature" style="width:100%;height: 200px">
                    <div class="caption">
                        <p>Αποδείξεις Διαμερισμάτων.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="check.png" target="_blank">
                    <img src="check.png" alt="Fjords" style="width:100%;height: 200px">
                    <div class="caption">
                        <p>Μενού επιλογών.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <a href="/login" class="btn btn-primary" role="button">Login</a>
</div>

<% include templates/footer.ejs %>
</body>

</html>