<% include templates/header.ejs %>
<body>

<div class="container" style="background-color: #eee">
    <% include templates/body.ejs %>
    <h2 class="text-muted" style="color: black"> <span class="glyphicon glyphicon-thumbs-up"></span> Καλώς Ήρθατε στην ιστοσελίδα μας</h2>
    <p class="text-muted">Το online Κοινόχρηστα είναι μια διαδυκτιακή εφαρμογή έκδοσης κοινοχρήστων. Τώρα μπορεί ο καθένας γρήγορα και απλά
        όπου και αν βρίσκεται και οποιοδήποτε ώρα να εκδόσει τα κοινόχρηστα της πολυκατοικίας του.</p>

    <div class="row text-center" style="background-color: #ccc410">
        <div class="col-sm-6 col-sm-offset-3" style="padding-bottom: 20px">
            <h3 style="color:black">Κάνε εγγραφή στην εφαρμογή Σήμερα!</h3>
            <p class="text-muted">Ταχύτητα, Οικονομία, Ευελιξία</p>
            <br>
            <button type="button" class="btn btn-success btn-lg" onclick="window.location.href='/signup';"> <span class="glyphicon glyphicon-user"></span> Εγγραφή</button>
            <button type="button" class="btn btn-default btn-lg" onclick="window.location.href='/login';"><span class="glyphicon glyphicon-log-in"></span> Είσοδος</button>
        </div>
    </div>

    <h2 class="text-muted" style="color: black"> <span class="glyphicon glyphicon-thumbs-up"></span> Ποια είναι τα πλεονεκτήματα της εφαρμογής</h2>
    <div class="row">
        <div class="col-sm-6"><h3><span class="glyphicon glyphicon-ok text-success"></span> Ευκολία και ταχύτητα</h3>
        <p class="text-muted text-justify">Μέσα σε λίγα λεπτά μπορείται να καταχωρήσετε τα έξοδα του μήνα και να τυπώσετε ή να στείλετε με email
            την <a href="totalBlock.png" target="_blank">συγκεντρωτική κατάσταση</a>  και
            τις <a href="totalFlat.png" target="_blank">αποδείξεις διαμερισμάτων.</a></p></div>
        <div class="col-sm-6"><h3><span class="glyphicon glyphicon-ok text-success"></span> Οικονομία</h3>
        <p class="text-muted text-justify">Με κόστος μόνο 1 ευρώ το μήνα για όλη την πολυκατοικία ανεξαρτήτως του αριθμού των διαμερισμάτων και
            χρησιμοποιώντας την δυνατότητα αποστολής των αποδειξεων διαμερισμάτων με email κάνετε οικονομία στα
            πάγια έξοδα της πολυκατοικίας. Μόλις 12 Ευρώ κόστος το χρόνο!!!!</p></div>
    </div>
    <div class="row">
        <div class="col-sm-6"><h3><span class="glyphicon glyphicon-ok text-success"></span> Αξιοπιστία</h3>
        <p class="text-muted text-justify">Ως Μηχανολόγοι Μηχανικοί με 15 χρόνια εμπειρία στο χώρο της πολυκατοικίας και ενήμεροι της νομοθεσίας
            είστε σίγουροι για την αξιοπιστία του προγράμματος. Είμαστε στη διάθεση σας για όποια απορία η πρόβλημα προκύψει.</p></div>
        <div class="col-sm-6"><h3><span class="glyphicon glyphicon-ok text-success"></span> Iστορικό - Πληροφόρηση</h3>
        <p class="text-muted text-justify">Το πρόγραμμα κρατάει ιστορικό όλων των εξόδων μήνα μήνα της πολυκατοικίας καθώς και κάθε διαμερίσματος ξεχωριστά.
            Έχουμε πλήρη έλεγχο του υπολοίπου κάθε διαμερίσματος το οποίο ανανεώνεται αυτόματα με κάθε νέα έκδοση κοινοχρήστων καθώς
            και μετά την ενημέρωση στην αντίστοιχη φόρμα <a href="check.png" target="_blank">(Έλεγχος Πληρωμών)</a> οτι εξοφλήθηκε.
        </p></div>
    </div>
    <div class="row">
        <div class="col-sm-6"><h3><span class="glyphicon glyphicon-ok text-success"></span> Ημερολόγιο Εξόδων</h3>
            <p class="text-muted text-justify">Με το <a href="calendar.png" target="_blank">Hμερολόγιο Eξόδων</a> έχουμε
                άμεση ειδοποιήση για τους ποιους μήνες έχουμε καταχωρήσει (σήμανση με πράσινο χρώμα) και με ένα κλικ πάνω
                στο μήνα πέρνουμε απευθείας ενημέρωση για τα έξοδα του, τα οποία έχουμε την δυνατότητα να τα διορθώσουμε
                ή και να τα διαγράψουμε.</p></div>
        <div class="col-sm-6"><h3><span class="glyphicon glyphicon-ok text-success"></span> Διαρκής Ενημέρωση</h3>
            <p class="text-muted text-justify">Το πρόγραμμα ενημερώνεται συνεχώς είτε με προσθήκη νέων δυνατοτήτων είτε  λόγω
            αλλαγών στην νομοθεσία. Μας ενδιαφέρει η γνώμη σας για την λειτουργικότητα της εφαρμογής καθώς και νέων προτάσεων
            η προσθηκών που θα το κάνουν ακόμα καλύτερο.</p></div>
    </div>
    <h2 class="text-muted" style="color: black"> <span class="glyphicon glyphicon-thumbs-up"></span> Χαρακτηριστικά της εφαρμογής</h2>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="totalBlock.png" target="_blank">
                    <img src="totalBlock.png" alt="Συγκεντρωτική Κατάσταση" style="width:100%;height: 200px">
                    <div class="caption">
                        <p>Συγκεντρωτική Κατάσταση.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="totalFlat.png" target="_blank">
                    <img src="totalFlat.png" alt="Αποδείξεις Διαμερισμάτων" style="width:100%;height: 200px">
                    <div class="caption">
                        <p>Αποδείξεις Διαμερισμάτων.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="check.png" target="_blank">
                    <img src="check.png" alt="Έλεγχος Πληρωμών" style="width:100%;height: 200px">
                    <div class="caption">
                        <p>Έλεγχος Πληρωμών.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="calendar.png" target="_blank">
                    <img src="calendar.png" alt="Ημερολόγιο Εξόδων" style="width:100%;height: 200px">
                    <div class="caption">
                        <p>Ημερολόγιο Εξόδων.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>
</body>

</html>