<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <form method="post" action="/users/add">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" name="pwd">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>

<% include templates/footer.ejs %>
</body>

</html>