<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <h1>My profile Page</h1>
    <p>Welcome</p>
</div>

<% include templates/footer.ejs %>
</body>

</html>