<table onload="" class="table table-bordered">
    <thead>
    <tr>
        <div class="row">
            <div class="col-xs-2">
                <button class="btn btn-primary" id="leftbtn" onclick="minusYear()"><span class="glyphicon glyphicon-backward"></span></button>
            </div>

            <div class="col-xs-8" style="padding-left: 10px;padding-right: 10px">
                <h4 id="getYear" align="center"></h4>
            </div>

            <div class="col-xs-2">
                <button style="position: absolute;right: 15px" class="btn btn-primary" id="rightbtn" onclick="addYear()"><span class="glyphicon glyphicon-forward"></span></button>
            </div>
        </div>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td id='Ιανουάριος' class="text-center" >Jan</td>
      <td id='Φεβρουάριος' class="text-center" >Feb</td>
      <td id='Μάρτιος' class="text-center" >Mar</td>
    </tr>
    <tr>
        <td id='Απρίλιος' class="text-center" >Apr</td>
        <td id='Μάιος' class="text-center" >May</td>
        <td id='Ιούνιος' class="text-center" >Jun</td>
    </tr>
    <tr>
        <td id='Ιούλιος' class="text-center" >Jul</td>
        <td id='Αύγουστος' class="text-center" >Aug</td>
        <td id='Σεπτέμβριος' class="text-center" >Sep</td>
    </tr>
    <tr>
        <td id='Οκτώβριος' class="text-center" >Oct</td>
        <td id='Νοέμβριος' class="text-center" >Nov</td>
        <td id='Δεκέμβριος' class="text-center" >Dec</td>
    </tr>

    </tbody>
</table>

<script>
    var d= new Date();
    //set current year on calendar header
   document.getElementById("getYear").innerHTML =d.getFullYear();

    function calcCalendar(setYear){
        var yearFromDb;//Το έτος από την database
        //clear all months
        $.each($('td'),function(i,elem) {
          //set background color to grey
          $(elem).css("background-color","#f1f1f1");
          //get td text.If it has link, text is inside it
          var tdHrefText = $(elem).text();
          //if has link remove it
          $(elem).find('a').remove();
          //set text to td after a link removed
          $(elem).text(tdHrefText);
        })
        <%for (var i=0; i<calendar.length; i++){%>
            yearFromDb= <%=calendar[i].year%>
            tdTable=document.getElementById("<%=calendar[i].month%>");
            tdTableText=tdTable.innerHTML;
           if( yearFromDb === setYear ){
                tdTable.style.backgroundColor  = "lightgreen";
                tdTable.innerHTML='<a href="/users/monthExpenses/<%=calendar[i]._id %>">'+tdTable.innerHTML+'</a>';
            }
        <%}%>
    }

    calcCalendar(d.getFullYear());

    function minusYear(){
        var yearNow=Number(document.getElementById("getYear").innerHTML);
        calcCalendar(yearNow-1);
        document.getElementById("getYear").innerHTML=yearNow-1;
    }

    function addYear(){
        var yearNow=Number(document.getElementById("getYear").innerHTML);
        calcCalendar(yearNow+1);
        document.getElementById("getYear").innerHTML=yearNow+1;
    }

</script>
