<h1>Reset Password</h1>
You are receiving this because you (or someone else) have requested the reset of the password for your account.
Please click on the following link, or paste this into your browser to complete the process:
<a class="text-muted" href="http://<%= host%>/reset/<%=token%>">http://<%= host%>/reset/<%=token%></a>
If you did not request this, please ignore this email and your password will remain unchanged.